@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');

h1 {
  color: #fff;
  text-align: centre;
  font-family: "Jacquard 12", system-ui;                                          
}

p {
  color: #fff;
  text-align: centre;
  font-family: "Jacquard 12", system-ui;
}

h4 {
  color: #fff;
  text-align: centre;
  font-family: "Jacquard 12", system-ui;
}

body {
  background-color: #252a31;
}
