@import url('https://fonts.cdnfonts.com/css/deutsch-gothic');

h1 {
  color: #fff;
  font-family: 'Deutsch Gothic', sans-serif;
                                                
}

p {
  color: #fff;
  font-family: 'Deutsch Gothic', sans-serif;
}

body {
  background-color: #252a31;
}
