h1 {
            color: blue;
        }  
        
        body {
            background-color: yellow;
        }
            

        h3 {
            color: blue;
        }
        
        .info {
            font-color: purple;
        }
